.btn {
  color: white;
  background-color: #ff9800;
  border: solid;
  border-style: groove;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 70px;
}
.btn:hover {
  background-color: #b97001;
  color: #ffffff;
}

.corrige {
  margin-left: auto;
}
.cancel {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}
