<header>
  <div class="d-flex justify-content-between align-items-center p-3 px-5">
    <p class="mb-0 header-bank-name fw-bold"><span>Solve</span>Bank</p>
    <img
      src="assets/Images/logo-codesolve.png"
      alt="Logo Codesolve"
      class="codesolve-logo"
    />
    <div class="d-flex gap-2">
      <a href="#">
        <img src="assets/Images/icon-bell-ring.svg" alt="Bell Ring Icon" />
      </a>
      <a href="#">
        <img src="assets/Images/icon-question.svg" alt="Question Icon" />
      </a>
    </div>
  </div>
</header>

<main>
  <h3 class="mb-0 pt-4 px-5 greeting">Bem vindo, Tanuki!</h3>
  <section class="accordion my-5 px-5" id="accordionBalance">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="d-flex gap-3 align-items-center accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          <img
            src="assets/Images/icon-exchange-outline.svg"
            alt="Exchange Icon"
          />
          <p class="mb-0">Saldo disponível</p>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionBalance"
      >
        <div class="accordion-body d-flex gap-4">
          <strong>R$ 21.535,91</strong>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex align-items-center justify-content-between px-5">
    <button
      class="btn btn-action"
    >
      <i class="bi bi-cash-coin"></i>
      <p class="mb-0">Saque</p>
    </button>
    <button
      class="btn btn-action"
    >
      <i class="bi bi-bank"></i>
      <p class="mb-0">Depósito</p>
    </button>
    <button
      class="btn btn-action"
    >
      <i class="bi bi-arrow-left-right"></i>
      <p class="mb-0">Transferência</p>
    </button>
  </section>
</main>
