body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(#171a4af6, #171a4af6, #171a4af6),
    url("../../../assets/Images/img-cadastro.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cadastro-form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ff9800;
}

.logo {
  width: 210px;
  height: auto;
  margin: 0 auto;
  display: block;
}

#formprincipal {
  display: flex;
  flex-wrap: wrap;
  padding-left: 225px;
  padding-right: 230px;
}

.form-group {
  margin-bottom: 20px;
  height: 78px;
  width: 350px;
}
.coluna-nome {
  flex: 1;
  margin-right: 30px; /* Adiciona margem entre as colunas */
  margin-left: 35px;
}

.coluna-cpf {
  flex: 1;
  margin-right: 30px; /* Adiciona margem entre as colunas */
  margin-left: 35px;
}

.coluna-senha {
  flex: 1;
  margin-right: 30px; /* Adiciona margem entre as colunas */
  margin-left: 35px;
}

.coluna-sobrenome {
  flex: 1;
  margin-right: 30px; /* Adiciona margem entre as colunas */
  margin-left: 35px;
}

.coluna-email {
  flex: 1;
  margin-right: 30px; /* Adiciona margem entre as colunas */
  margin-left: 35px;
}

.coluna-confirmar {
  flex: 1;
  margin-right: 30px; /* Adiciona margem entre as colunas */
  margin-left: 35px;
}

.inputdados {
  width: calc(100% - 20px); /* Ajusta a largura dos inputs */
  margin-bottom: 1px; /* Adiciona margem inferior para espaçamento */
}

/* Media query para telas menores, onde as colunas são empilhadas verticalmente */
@media (max-width: 768px) {
  .coluna {
    flex: none;
    margin-right: 0; /* Remove a margem direita */
  }
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px; /* Tamanho da fonte para telas pequenas */
  }
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #ff9800;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.campo-obrigatorio {
  font-size: 12px;
  color: red;
}

.campo-obrigatorio-nome {
  margin-top: 0px;
  font-size: 12px;
  color: red;
}
.btn-criar-conta {
  background-color: #ff9800;
  color: white;
  border-radius: 7px;
  cursor: pointer;

  height: 43px;
  display: block;
  margin: 0 auto;
  bottom: 20px;
  width: 50%; /* Definindo a largura como 100% para ocupar toda a largura do contêiner pai */
  max-width: 175px; /* Definindo a largura máxima para evitar que o botão se expanda demais em telas grandes */
  margin-top: 20px;
  margin: 20px auto 0;
}

@media (max-width: 768px) {
  .btn-criar-conta {
    max-width: 190px;
  }
}

.btn-criar-conta:hover {
  background-color: #835004;
}

.direitos-autorais {
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 0px;
  margin-top: 20px;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
