main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#171a4af6, #171a4af6, #171a4af6),
    url("../../../assets/Images/img-cadastro.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.cadastro-form {
  padding: 1.25rem;
  border-radius: 0.313rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  color: var(--secondary);
  width: 70%;
}

.logo {
  width: 13.125rem;
  height: auto;
  margin: 0 auto;
  display: block;
}

.form-group {
  margin-bottom: 1.25rem;
  height: 78px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

.inputdados {
  width: calc(100% - 1.25rem); /* Ajusta a largura dos inputs */
  margin-bottom: 1px; /* Adiciona margem inferior para espaçamento */
}

/* Media query para telas menores, onde as colunas são empilhadas verticalmente */
@media (max-width: 768px) {
  .coluna {
    flex: none;
    margin-right: 0; /* Remove a margem direita */
  }

  .title {
    font-size: 1.875rem; /* Tamanho da fonte para telas pequenas */
  }

  .cadastro-form {
    width: 90%;
  }

  main {
    height: 100%;
  }
}

.title {
  text-align: center;
  color: var(--text);
  margin-bottom: 1.25rem;
  font-size: 3.125rem;
  font-family: "Roboto", sans-serif;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.375rem;
  color: var(--secondary);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0.625rem;
  border: 0.125rem solid var(--gray);
  border-radius: 0.5rem;
}

.campo-obrigatorio {
  font-size: 0.75rem;
  color: var(--danger);
}

.campo-obrigatorio-nome {
  margin-top: 0;
  font-size: 0.75rem;
  color: var(--danger);
}
.btn-criar-conta {
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 0.438rem;
  cursor: pointer;

  height: 2.688rem;
  display: block;
  margin: 0 auto;
  bottom: 1.25rem;
  width: 50%; /* Definindo a largura como 100% para ocupar toda a largura do contêiner pai */
  max-width: 10.938rem; /* Definindo a largura máxima para evitar que o botão se expanda demais em telas grandes */
  margin-top: 1.25rem;
  margin: 1.25rem auto 0;
}

@media (max-width: 768px) {
  .btn-criar-conta {
    max-width: 11.875rem;
  }
}

.btn-criar-conta:hover {
  background-color: var(--secondary-hover-dark);
}

.btn-criar-conta:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}

.direitos-autorais {
  color: var(--text);
  position: relative;
  margin-top: 1.25rem;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
