<body>
  <div class="cadastro-form">
    <div>
      <img src="assets/Images/principal-icon-1.png" alt="Logo" class="logo" />
    </div>

    <div>
      <h1 class="title">Crie a sua conta!</h1>
    </div>
    <form [formGroup]="meuFormulario" (ngSubmit)="submitForm()">
      <div id="formprincipal">
        <div class="coluna-nome">
          <div class="form-group nome">
            <label for="nome">Nome:</label>
            <input
              formControlName="nome"
              class="inputdados"
              type="text"
              placeholder="Insira o seu Nome"
            />
            <div
              class="campo-obrigatorio-nome"
              *ngIf="
                meuFormulario.get('nome')?.invalid &&
                meuFormulario.get('nome')?.touched
              "
            >
              <span *ngIf="meuFormulario.get('nome')?.errors?.['required']"
                >Campo obrigatório</span
              >
            </div>
          </div>
        </div>

        <div class="coluna-sobrenome">
          <div class="form-group sobrenome">
            <label for="sobrenome">Sobrenome:</label>
            <input
              type="text"
              id="sobrenome"
              name="sobrenome"
              placeholder="Insira o seu Sobrenome"
              formControlName="sobrenome"
            />
            <div
              class="campo-obrigatorio"
              *ngIf="
                meuFormulario.get('sobrenome')?.invalid &&
                meuFormulario.get('sobrenome')?.touched
              "
            >
              <span *ngIf="meuFormulario.get('sobrenome')?.errors?.['required']"
                >Campo obrigatório</span
              >
            </div>
          </div>
        </div>

        <div class="coluna-cpf">
          <div class="form-group cpf">
            <label for="cpf">CPF:</label>
            <input
              type="text"
              id="cpf"
              name="cpf"
              placeholder="Insira seu CPF"
              formControlName="cpf"
            />
            <div
              class="campo-obrigatorio"
              *ngIf="
                meuFormulario.get('cpf')?.invalid &&
                meuFormulario.get('cpf')?.touched
              "
            >
              <span *ngIf="meuFormulario.get('cpf')?.errors?.['required']"
                >Campo obrigatório</span
              >
              <span *ngIf="meuFormulario.get('cpf')?.errors?.['pattern']"
                >CPF inválido</span
              >
            </div>
          </div>
        </div>

        <div class="coluna-email">
          <div class="form-group email">
            <label for="email">E-mail:</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Insira o seu E-mail"
              formControlName="email"
            />
            <div
              class="campo-obrigatorio"
              *ngIf="
                meuFormulario.get('email')?.invalid &&
                meuFormulario.get('email')?.touched
              "
            >
              <span *ngIf="meuFormulario.get('email')?.errors?.['required']"
                >Campo obrigatório</span
              >
              <span *ngIf="meuFormulario.get('email')?.errors?.['email']"
                >Email inválido</span
              >
            </div>
          </div>
        </div>

        <div class="coluna-senha">
          <div class="form-group senha">
            <label for="senha">Senha:</label>
            <input
              type="password"
              id="senha"
              name="senha"
              placeholder="Insira a sua Senha"
              formControlName="senha"
            />
            <div
              class="campo-obrigatorio"
              *ngIf="
                meuFormulario.get('senha')?.invalid &&
                meuFormulario.get('senha')?.touched
              "
            >
              <span *ngIf="meuFormulario.get('senha')?.errors?.['required']"
                >Campo obrigatório</span
              >
              <span *ngIf="meuFormulario.get('senha')?.errors?.['minlength']"
                >Senha deve ter pelo menos 6 caracteres</span
              >
            </div>
          </div>
        </div>

        <div class="coluna-confirmar">
          <div class="form-group confirmeSenha">
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input
              type="password"
              id="confirmarSenha"
              name="confirmarSenha"
              placeholder="Confirme sua Senha"
              formControlName="confirmarSenha"
            />
            <div
              class="campo-obrigatorio"
              *ngIf="
                meuFormulario.get('confirmarSenha')?.invalid &&
                meuFormulario.get('confirmarSenha')?.touched
              "
            >
              <span
                *ngIf="meuFormulario.get('confirmarSenha')?.errors?.['required']"
                >Campo obrigatório</span
              >
              <span
                *ngIf="meuFormulario.get('confirmarSenha')?.errors?.['senhaNaoCoincide']"
                >As senhas não coincidem</span
              >
              <span
                *ngIf="meuFormulario.get('confirmarSenha')?.errors?.['senhaNaoCoincide']"
                >As senhas não coincidem</span
              >
            </div>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="meuFormulario.invalid"
          class="btn-criar-conta"
          (click)="submitForm()"
        >
          Criar Conta
        </button>
      </div>
    </form>
    <div class="direitos-autorais">
      <p>Todos os direitos reservados CodeSolve 2024 ©</p>
    </div>
  </div>
</body>
