 .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#171a4af6, #171a4af6, #171a4af6), url("../../../assets/Images/background-login-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
} 
.btn-advance{
    background-color: var(--secondary);    
    font-family: Roboto;
    font-weight: normal;
}

.btn-advance:hover{
    background-color: var(--secondary-hover-dark);    
    font-family: Roboto;
    font-weight: normal;
}


















@media screen and (min-width:400px){
    .main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: linear-gradient(#171a4af6, #171a4af6, #171a4af6), url("../../../assets/Images/background-img-recoveryPassword-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;       
        background-position: center;
    }    
}