<main class="main-container">
    <section>
        <article class="d-flex flex-column align-items-center gap-5">
            <div>
                <img src="../../../assets/Images/logo-codesolve.png" alt="">
            </div>
            <div>
                <form class="d-flex flex-column align-items-center gap-5">                    
                    <div class="form-group d-flex flex-column align-items-center">
                        <label class="text-light font-default" for="cpf">DIGITE SEU CPF</label>
                        <input
                        class="mt-5"
                          type="text"
                          id="cpf"
                          name="cpf"
                          placeholder="123.456.789-01"
                          formControlName="cpf"                          
                        />
                    </div>
                    <button class="btn btn-advance font-default">Enviar</button>
                </form>
            </div>
        </article>
    </section>
</main>
