<header>
  <div
    id="header-desktop-screen"
    class="px-5 py-4 d-flex justify-content-between align-items-center gap-4"
  >
    <div class="d-flex justify-content-around align-items-center gap-2">
      <img
        src="assets/Images/logo-codesolve.png"
        alt="Logo Codesolve"
        class="codesolve-logo"
      />
      <p class="mb-0">|</p>
      <p class="mb-0">Kuniyoshi</p>
    </div>

    <div class="d-flex gap-2 align-items-center">
      <div>
        <p class="mb-0">Olá, Tanuki!</p>
      </div>
      <a href="#">
        <img src="assets/Images/icon-bell-ring.svg" alt="Bell Ring Icon" />
      </a>
      <a href="#">
        <img src="assets/Images/icon-question.svg" alt="Question Icon" />
      </a>
    </div>
  </div>
</header>
<div>
  <p class="text-deposit-count">Depósito em Conta - Dinheiro</p>
  <hr class="line" />
</div>
<p class="text-value">Valor limite por envelope : R$ 5.000,00.</p>

<div class="">
  <form class="formulario-deposito">
    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-auto">
        <label for="agencia" class="txt-agency form-label">Agência:</label>
      </div>
      <div class="col-auto">
        <input
          type="text"
          class="agency form-control"
          id="agencia"
          name="agencia"
          [(ngModel)]="agencia"
          required
          placeholder="Inserir Agência"
        />
      </div>
    </div>

    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-auto">
        <label for="conta" class="form-label">Conta para Depósito:</label>
      </div>
      <div class="col-auto">
        <input
          type="text"
          class="form-control"
          id="conta"
          name="conta"
          [(ngModel)]="conta"
          required
          placeholder="Inserir numero"
        />
      </div>
    </div>

    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-auto">
        <label for="valor" class="form-label">Valor:*</label>
      </div>
      <div class="col-auto">
        <input
          type="number"
          class="camp-value form-control"
          id="valor"
          name="valor"
          min="0"
          step="0.01"
          [(ngModel)]="valor"
          required
          placeholder="R$ 0,00"
        />
      </div>
    </div>
  </form>
</div>
<p class="mensage">* VALOR SUJEITO A CONFERÊNCIA *</p>

<div class="transfer-buttons d-flex justify-content-center">
  <button type="button" class="btn" [routerLink]="['/external/home']">
    <i class="bi bi-arrow-left-square me-2"></i>Voltar
  </button>
  <button type="submit" class="btn">
    <i class="bi bi-bank me-2"></i>Depositar
  </button>
  <button type="reset" class="btn" (click)="limparCampos()">
    <i class="bi bi-x-square me-2"></i>Limpar
  </button>
</div>
