.codesolve-logo {
  width: 1.875rem;
}

header {
  background-color: var(--primary);
  color: var(--text);
}

#header-desktop-screen p {
  font-size: 1.5rem;
}

.txt-withdraw {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: auto;
}

.line {
  border-top: 2px solid white;
  margin: 10px 0;
}

.select-value {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 115px;
  margin-top: 15px;
  margin-bottom: auto;
}

.value-set {
  margin-top: 25px;
}
@media (max-width: 1095px) {
  .value-set {
    margin-top: 10px;
    margin-left: 10px;
  }
}
.button {
  color: white;
  background-color: #ff9800;
  width: 200px;
  height: 200px;
  border-style: groove;
  border-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #b97001;
  color: #ffffff;
}

.txt-value {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-left: 30px;
}

.form-value {
  color: white;
}

.input {
  width: 300px;
  height: auto;
  margin-left: 30px;
}

.text-notice {
  color: #ff9800;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  margin-left: 25px;
}

.transfer-buttons {
  flex-direction: column;
  align-items: center;
}

.transfer-buttons button {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  padding: 1.25rem 0.625rem;
  margin-top: 2.25rem;
  background-color: var(--secondary);
  color: var(--text);
  transition: 0.5s all ease;
}

.transfer-buttons button:hover {
  background-color: var(--secondary-hover-dark);
}
@media (min-width: 768px) {
  .transfer-buttons {
    flex-direction: row;
    align-items: flex-start;
  }

  .transfer-buttons button {
    width: calc(48% - 0.625rem);
    width: 20%;
    padding: 1.25rem 0.313rem;
    margin-right: 0.625rem;
  }

  .transfer-buttons button:nth-of-type(2n) {
    margin-left: 1.625rem;
    margin-right: 1.625rem;
  }

  .transfer-buttons button:last-child {
    margin-left: 0.625rem;
    margin-right: 0;
  }
}

.modal-header {
  color: black;
  font-family: "Roboto", sans-serif;
}
.modal-content {
  border-color: gray;
}
.modal-body {
  color: black;
  font-family: "Roboto", sans-serif;
}
.btn-secondary {
  background-color: rgb(248, 132, 132);
  border-color: gray;
}

.btn-primary {
  background-color: #ff9800;
  border-color: gray;
}

.required-field {
  color: var(--danger);
  font-size: 0.75rem;
}
