<nav class="p-4">
  <ul class="nav justify-content-center gap-3">
    <li class="nav-item">
      <a href="#" class="nav-link d-flex flex-column align-items-center">
        <img src="assets/Images/icon-home.svg" alt="Home Icon" />
        <p class="m-0 mt-1 text-white">Início</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link d-flex flex-column align-items-center">
        <img src="assets/Images/icon-pix.svg" alt="Home Icon" />
        <p class="m-0 mt-1 text-white">Pix</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link d-flex flex-column align-items-center">
        <img src="assets/Images/icon-money.svg" alt="Home Icon" />
        <p class="m-0  mt-1 text-white">Investimentos</p>
      </a>
    </li>
  </ul>
</nav>