body {
    background-color: var(--background);
    color: var(--text);
}

.card-client {
    background-color: var(--primary);
    margin-bottom: 6.25rem;
}

.card-home {
    background-color: var(--secondary);
}

.card-home button {
    background-color: var(--background);
    color: var(--text);
}

.card-home button:hover {
    background-color: var(--primary);
}

.scan {
    color: var(--black);
}

.accordion-desktop {
    width: 25rem;
}

.left-section {
    width: 6.25rem; /* Largura da seção à esquerda */
    background-color: var(--primary); /* Cor de fundo da seção */
    float: left; /* Faz com que a seção flutue à esquerda */
    padding: 1.25rem; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui preenchimento e borda na largura e altura total */
}

/* Limpa o float */
.clear {
    clear: both;
}
