body {
    background-color: #171A4A;
    color: white;
}

.card-client {
    background-color: #2F2C79;
    margin-bottom: 100px;
}

.card-home {
    background-color: #FF9800;
}

.card-home button {
    background-color: #171A4A;
    color: #FFFFFF;
}

.card-home button:hover {
    background-color: #2F2C79;
}

.scan {
    color: black;
}

.accordion-desktop {
    width: 400px;
}