.codesolve-logo {
  width: 30px;
}

.menu-icon {
  width: 18px;
}

header, .menu, li {
  background-color: #2F2C79;
  color: #FFFFFF;
}

p {
  color: #FF9800;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}