<header *ngIf="isSmallScreen">
  <div class="px-5 py-4 d-flex justify-content-between align-items-center gap-4">
    <div class="d-flex gap-2">
      <a href="#">
        <img src="assets/Images/icon-bell-ring.svg" alt="Bell Ring Icon" />
      </a>
      <a href="#">
        <img src="assets/Images/icon-question.svg" alt="Question Icon" />
      </a>
    </div>
    <div id="header-small-screen" class="d-flex justify-content-around align-items-center gap-2">
      <img
        src="assets/Images/logo-codesolve.png"
        alt="Logo Codesolve"
        class="codesolve-logo"
      />
      <p class="mb-0">|</p>
      <p class="mb-0">Select</p>
    </div>

    <a data-bs-toggle="offcanvas" href="#menuHome" aria-controls="menuHome">
      <img src="assets/Images/icon-list.svg" alt="Menu List Icon" />
    </a>

    <div
      class="offcanvas offcanvas-start menu"
      tabindex="-1"
      id="menuHome"
      aria-labelledby="menuHome"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">SolveBank</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex gap-4">
              <img
                src="assets/Images/logo-codesolve.png"
                alt="Logo Codesolve"
                class="codesolve-logo"
              />
              <div>
                <p class="mb-0 text-white">Tanuki</p>
                <p class="mb-0 text-white">Ag 0001 Cc 1235213215-9</p>
              </div>
            </div>
            <img src="assets/Images/icon-arrow-right.svg" alt="Arrow Right Icon">
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
              <a href="#" class="nav-link d-flex align-items-center gap-3">
                <img src="assets/Images/icon-account-logout.svg" alt="Account Logout Icon" class="menu-icon">
                <p class="mb-0">Sair do App</p> 
              </a>
            </li>
            <li class="list-group-item px-0">
              <a href="#" class="nav-link d-flex justify-content-between">
                <div class="d-flex gap-3">
                  <img src="assets/Images/icon-money-menu.svg" alt="Money Icon" class="menu-icon">
                  <p class="mb-0">Saldo e Extrato</p> 
                </div>
                <img src="assets/Images/icon-arrow-right.svg" alt="Arrow Right Icon">
              </a>
            </li>
            <li class="list-group-item px-0">
              <a href="#" class="nav-link d-flex justify-content-between">
                <div class="d-flex gap-3">
                  <img src="assets/Images/icon-transfer.svg" alt="Transfer Icon" class="menu-icon">
                  <p class="mb-0">Transações</p> 
                </div>
                <img src="assets/Images/icon-arrow-right.svg" alt="Arrow Right Icon">
              </a>
            </li>
            <li class="list-group-item px-0">
              <a href="#" class="nav-link d-flex justify-content-between">
                <div class="d-flex gap-3">
                  <img src="assets/Images/icon-pix-menu.svg" alt="Pix Icon" class="menu-icon">
                  <p class="mb-0">Pix</p> 
                </div>
                <img src="assets/Images/icon-arrow-right.svg" alt="Arrow Right Icon">
              </a>
            </li>
            <li class="list-group-item px-0">
              <a href="#" class="nav-link d-flex justify-content-between">
                <div class="d-flex gap-3">
                  <img src="assets/Images/icon-credit-card.svg" alt="Credit Card Icon" class="menu-icon">
                  <p class="mb-0">Meus Cartões</p> 
                </div>
                <img src="assets/Images/icon-arrow-right.svg" alt="Arrow Right Icon">
              </a>
            </li>
            <li class="list-group-item px-0">
              <a href="#" class="nav-link d-flex justify-content-between">
                <div class="d-flex gap-3">
                  <img src="assets/Images/icon-external-link.svg" alt="External Link Icon" class="menu-icon">
                  <p class="mb-0">Meus Limites</p> 
                </div>
                <img src="assets/Images/icon-arrow-right.svg" alt="Arrow Right Icon">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<header *ngIf="!isSmallScreen">
    <div id="header-desktop-screen" class="px-5 py-4 d-flex justify-content-between align-items-center gap-4">
        <div class="d-flex justify-content-around align-items-center gap-2">
            <img
                src="assets/Images/logo-codesolve.png"
                alt="Logo Codesolve"
                class="codesolve-logo"
            />
            <p class="mb-0">|</p>
            <p class="mb-0">Select</p>
        </div>

        <div>
            <p class="mb-0">TANUKI</p>
        </div>
        
        
        <div class="d-flex gap-2">
            <a href="#">
                <img src="assets/Images/icon-bell-ring.svg" alt="Bell Ring Icon" />
            </a>
            <a href="#">
                <img src="assets/Images/icon-question.svg" alt="Question Icon" />
            </a>
        </div>
    </div>
</header>


