.codesolve-logo {
  width: 1.875rem;
}

.menu-icon {
  width: 1.125rem;
}

header, .menu, li {
  background-color: var(--primary);
  color: var(--text);
}

/* Parte escrita no header  */
#header-small-screen p {
    font-size: 1.25rem;
}

#header-desktop-screen p {
    font-size: 1.5rem;
}