<body>
  <app-menu-home></app-menu-home>
  <div>
    <p class="text-transfer-count">Transferências</p>
    <hr class="line" />
  </div>

  <main>
    <div class="transfer-form">
      <form [formGroup]="transferForm">
        <div class="form-group">
          <label for="destinationAccount">Conta Destino</label>
          <input
            type="text"
            name="destinationAccount"
            id="destination-account"
            formControlName="destinationAccount"
            placeholder="12345678-9"
          />

          <div
            class="required-field"
            *ngIf="
              transferForm.get('destinationAccount')?.invalid &&
              transferForm.get('destinationAccount')?.touched
            "
          >
            <span
              *ngIf="transferForm.get('destinationAccount')?.errors?.['required']"
            >
              Campo obrigatório
            </span>
            <span
              *ngIf="transferForm.get('destinationAccount')?.errors?.['pattern']"
            >
              Conta Destino deve estar no formato 00000000-0
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="destinationBranch">Agência Destino</label>
          <input
            type="text"
            name="destinationBranch"
            id="destination-branch"
            formControlName="destinationBranch"
            placeholder="0001"
          />

          <div
            class="required-field"
            *ngIf="
              transferForm.get('destinationBranch')?.invalid &&
              transferForm.get('destinationBranch')?.touched
            "
          >
            <span
              *ngIf="transferForm.get('destinationBranch')?.errors?.['required']"
            >
              Campo obrigatório
            </span>
            <span
              *ngIf="transferForm.get('destinationBranch')?.errors?.['pattern']"
            >
              Agência Destino deve estar no formato 0000
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="beneficiary">Beneficiário</label>
          <input
          class="form-control"
          type="text"
          name="beneficiary"
          id="beneficiary"
          placeholder="Nome do Beneficiário"
          aria-label="Disabled input example"
          disabled  
          readonly
          />

          <div
            class="required-field"
            *ngIf="
              transferForm.get('beneficiary')?.invalid &&
              transferForm.get('beneficiary')?.touched
            "
          >
            <span *ngIf="transferForm.get('beneficiary')?.errors?.['required']">
              Campo obrigatório
            </span>
            <span *ngIf="transferForm.get('beneficiary')?.errors?.['pattern']">
              Beneficiário deve conter apenas letras
            </span>
          </div>
        </div>        

        <div class="form-group">
          <label for="value">Valor</label>
          <input
            type="text"
            name="value"
            id="value"
            formControlName="value"
            placeholder="R$ 0,00"
            (input)="valueFormatter($event)"
          />

          <div
            class="required-field"
            *ngIf="
              transferForm.get('value')?.invalid &&
              transferForm.get('value')?.touched
            "
          >
            <span *ngIf="transferForm.get('value')?.errors?.['required']">
              Campo obrigatório
            </span>
          </div>
        </div>

        <div class="transfer-buttons d-flex justify-content-center">
          <button type="button" class="btn" [routerLink]="['/external/home']"><i class="bi bi-arrow-left-square me-2"></i>Voltar</button>
          <button type="submit" class="btn"><i class="bi bi-arrow-left-right me-2"></i>Transferir</button>
          <button type="reset" class="btn"><i class="bi bi-x-square me-2"></i>Limpar</button>
        </div>
      </form>
    </div>
  </main>
</body>
