body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary);
}

.text-transfer-count {
  color: var(--text);
  font-size: 1.563rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: auto;
  margin-left: 3.125rem;
  margin-top: 0.625rem;
}
.line {
  border-top: 0.125rem solid white;
  margin: 0.625rem 0;
}

.transfer-form {
  width: 50%;
  margin: 3.125rem auto;
}

.transfer-title {
  margin-bottom: 2.5rem;
  color: var(--text);
}

.form-group {
  margin-bottom: 1.25rem;
  height: 4.875rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

label {
  display: block;
  margin-bottom: 0.313rem;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 0.625rem;
  border: 1px solid var(--gray);
  border-radius: 0.313rem;
}

.required-field {
  color: var(--danger);
  font-size: 0.75rem;
}

.transfer-buttons {
  flex-direction: column;
  align-items: center;
}

.transfer-buttons button {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  padding: 1.25rem 0.625rem;
  margin-top: 2.25rem;
  background-color: var(--secondary);
  color: var(--text);
  transition: 0.5s all ease;
}

.transfer-buttons button:hover {
  background-color: var(--secondary-hover-dark);
}

@media (min-width: 768px) {
  .transfer-form {
    width: 70%;
  }

  .form-group {
    display: inline-block;
    width: calc(48% - 0.625rem);
    margin-left: 0.938rem;
    vertical-align: top;
  }

  .transfer-buttons {
    flex-direction: row;
    align-items: flex-start;
  }

  .transfer-buttons button {
    width: calc(48% - 0.625rem);
    width: 27%;
    padding: 1.25rem 0.313rem;
    margin-right: 0.625rem;
  }

  .form-group:last-child {
    margin-left: 0;
  }

  .transfer-buttons button:nth-of-type(2n) {
    margin-left: 1.625rem;
    margin-right: 1.625rem;
  }

  .transfer-buttons button:last-child {
    margin-left: 0.625rem;
    margin-right: 0;
  }
  
}

