  <div class="menu-desktop">
    <ul class="list-group list-group-flush">
      <li class="list-group-item px-0">
        <a href="#" class="nav-link d-flex justify-content-between">
          <div class="d-flex gap-3">
            <img
              src="assets/Images/icon-money-menu.svg"
              alt="Money Icon"
              class="menu-icon"
            />
            <p class="mb-0">Saldo e Extrato</p>
          </div>
          <img
            src="assets/Images/icon-arrow-right.svg"
            alt="Arrow Right Icon"
          />
        </a>
      </li>
      <li class="list-group-item px-0">
        <a class="nav-link d-flex justify-content-between" [routerLink]="['/transactions']">
          <div class="d-flex gap-3">
            <img
              src="assets/Images/icon-transfer.svg"
              alt="Transfer Icon"
              class="menu-icon"
            />
            <p class="mb-0">Transações</p>
          </div>
          <img
            src="assets/Images/icon-arrow-right.svg"
            alt="Arrow Right Icon"
          />
        </a>
      </li>
      <li class="list-group-item px-0">
        <a href="#" class="nav-link d-flex justify-content-between">
          <div class="d-flex gap-3">
            <img
              src="assets/Images/icon-pix-menu.svg"
              alt="Pix Icon"
              class="menu-icon"
            />
            <p class="mb-0">Pix</p>
          </div>
          <img
            src="assets/Images/icon-arrow-right.svg"
            alt="Arrow Right Icon"
          />
        </a>
      </li>
      <li class="list-group-item px-0">
        <a href="#" class="nav-link d-flex justify-content-between">
          <div class="d-flex gap-3">
            <img
              src="assets/Images/icon-credit-card.svg"
              alt="Credit Card Icon"
              class="menu-icon"
            />
            <p class="mb-0">Meus Cartões</p>
          </div>
          <img
            src="assets/Images/icon-arrow-right.svg"
            alt="Arrow Right Icon"
          />
        </a>
      </li>
      <li class="list-group-item px-0">
        <a href="#" class="nav-link d-flex justify-content-between">
          <div class="d-flex gap-3">
            <img
              src="assets/Images/icon-external-link.svg"
              alt="External Link Icon"
              class="menu-icon"
            />
            <p class="mb-0">Meus Limites</p>
          </div>
          <img
            src="assets/Images/icon-arrow-right.svg"
            alt="Arrow Right Icon"
          />
        </a>
      </li>
      <li class="list-group-item px-0">
        <a href="#" class="nav-link d-flex align-items-center gap-3">
          <img
            src="assets/Images/icon-account-logout.svg"
            alt="Account Logout Icon"
            class="menu-icon"
          />
          <p class="mb-0">Sair do App</p>
        </a>
      </li>
    </ul>
  </div>